* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

ul {
  list-style: none;
}

.main-data {
  padding: 3rem;
  width: 90%;
  margin: auto;
  border: 2px solid orange;
}

.inputs {
  width: 100%;
  order: 1;
  align-items: center;
}

.title-input,
.author-input {
  font-size: 1.5rem;
  margin: 1.5rem 0;
  padding: 1rem;
}

.title-show,
.author-show {
  margin: 0;
  padding: 0.5rem 0;
  font-size: 1.5rem;
}

.add-btn,
.rmv-btn {
  border: 1px solid black;
  background-color: white;
  color: black;
  font-size: 1.5rem;
  padding: 0.5rem;
  width: 10rem;
  cursor: pointer;
}

input::placeholder {
  font-size: 1.7rem;
}

.w-100 {
  width: 100%;
}

.lst {
  order: 2;
  padding: 1rem 0;
  width: 100%;
}

li {
  padding: 0.5rem 0;
  border-bottom: 1px solid gray;
  width: 20rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
